<div class="container" style="margin-top:10px;">
  <div class="row form-group">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-image">
                    <img src="http://img.photobucket.com/albums/v234/marfue179/IMG_20140127_003743_zps4ddf0ff6.jpg" class="panel-image-preview" />
                    <label for="toggle-1"></label>
                </div>
                <input type="checkbox" id="toggle-1" class-"panel-image-toggle">
                <div class="panel-body">
                    <h4>Embarazada</h4>
                    <p>Aqui vemos una Cecilia embarazada por obra del espiritu santo (broma).</p>
                </div>
                <div class="panel-footer text-center">
                    <a href="http://es.wikipedia.org/wiki/Coraz%C3%B3n"><span class="fa fa-heart"></span></a>
                    <a href=""><span class="fa fa-facebook"></span></a>
                    <a href="#twitter"><span class="fa fa-twitter"></span></a>
                    <a href="#share"><span class="fa fa-heart"></span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-image hide-panel-body">
                    <img src="http://img.photobucket.com/albums/v234/marfue179/IMG-20140211-WA0000_zps75f128fc.jpg" class="panel-image-preview" />
                    <label for="toggle-2"></label>
                </div>
                <input type="checkbox" id="toggle-2" class-"panel-image-toggle">
                <div class="panel-body">
                    <h4>Nacimiento</h4>
                    <p>todo nacimiento es doloroso, sangroso, pero este salio hasta orinado (!).</p>
                </div>
                <div class="panel-footer text-center">
                    <a href="#download"><span class="fa fa-heart"></span></a>
                    <a href="#facebook"><span class="fa fa-facebook"></span></a>
                    <a href="#twitter"><span class="fa fa-twitter"></span></a>
                    <a href="#share"><span class="fa fa-heart"></span></a>
                </div>
            </div>
        </div>
  </div>
    
    <div class="row form-group">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Marcelo </h3>
                </div>
                <div class="panel-image hide-panel-body">
                    <img src="http://img.photobucket.com/albums/v234/marfue179/IMG_20140213_133800_zps49dcc77b.jpg" class="panel-image-preview" />
                    <label for="toggle-3"></label>
                </div>
                <input type="checkbox" id="toggle-3" class-"panel-image-toggle">
                <div class="panel-body">
                    <h4>Marcelo aprendiendo a tomar guaguas</h4>
                    <p>Toda tecnica milenaria requiere apredizaje y tiempo para su maestria, esta en especial, el arte de mantener la guagua.</p>
                </div>
                <div class="panel-footer text-center">
                    <a href="#download"><span class="fa fa-heart"></span></a>
                    <a href="#facebook"><span class="fa fa-facebook"></span></a>
                    <a href="#twitter"><span class="fa fa-twitter"></span></a>
                    <a href="#share"><span class="fa fa-stethoscope"></span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-image">
                    <img src="http://img.photobucket.com/albums/v234/marfue179/IMG-20140212-WA0003_zps04ccf4ef.jpg" class="panel-image-preview" />
                    <label for="toggle-4"></label>
                </div>
                <input type="checkbox" id="toggle-4" checked class-"panel-image-toggle">
                <div class="panel-body">
                    <h4>Feliz San valentin!</h4>
                    <p>Porque fue una semana especial, merece un regao especial.</p>
                </div>
                <div class="panel-footer text-center">
                    <a href="#download"><span class="fa fa-heart"></span></a>
                    <a href="#facebook"><span class="fa fa-facebook"></span></a>
                    <a href="#twitter"><span class="fa fa-twitter"></span></a>
                    <a href="#share"><span class="fa fa-heart"></span></a>
                </div>
            </div>
        </div>
  </div>
</div>